<br>
<%=image_tag 'comp.png', :size => '100x100'%>
<div class="panel radius" style="margin-top: 20px">
	<h3 align="center">Fill the form below</h3>
</div>

<!-- rendered input form -->
<%= render 'form' %>

<div role="button" tabindex="0" class="buttun">
	<%= link_to 'Back', deaths_path %>
</div>
