<div class="panel radius" style="margin-top: 20px">
	<h3>Editing Birth</h3>
</div>

<%= render 'form' %>

<div class="row">
  	<div class="large-6 columns">
  		<%= link_to 'Back', births_path %>
  	</div>
  	<div class="large-6 columns">
  		<%= link_to 'Show', @birth %> |
  	</div>
</div>