<br/>
<%=image_tag 'comp.png', :size => '100x100'%>
<div class="panel radius" style="margin-top: 20px">
	<h3 align="center">Fill the form below</h3>
</div>

<%= render 'form' %>

<%= link_to 'Back', births_path %>