
<br/>
<br/>
<br/>
	<div class="row" >
		<div class="fieldset" style="float: center">
			<fieldset >
				<h4 align="center"><%= link_to "Create Birth Certificate", new_birth_path(@birth) %></h4>
			</fieldset>
			<fieldset>  
				<h4 align="center" ><%= link_to "Create Death Certificate", new_death_path(@death) %></h4>
			</fieldset>
		</div>
  </div>
